body {
    font-family: sans-serif;
    background: #222;
    color: #eee;
    font-size: 30px;
    text-align: center;
    max-width: 600px;
    margin: auto;
}

h1,h2,h3,h4,h5 {
    font-family: Arial, sans-serif;
    font-weight: 900;
    word-break:break-word;
}

a, a:visited {
    color: #fe7c00;
}

.logo {
    width: 300px;
    margin-top: 66px;
    padding: 6px;
    background: white;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 23px;
}
